
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #166534;
  color: white;
  padding: 15px 30px;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1470115636492-6d2b56f9146d");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero button {
  padding: 10px 20px;
  background: white;
  border: none;
  border-radius: 20px;
  color: green;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.problem {
  background: #fee2e2;
}

.objectives {
  background: #ecfdf5;
}

.solutions {
  background: #f0fdf4;
}

.tips {
  background: #f1f5f9;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* FOOTER */
footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
